* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #e4e4e3;
}


.navbar {
    background-color: whitesmoke;
    transition: 0.5s;

}

.nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    color: #2e3032;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffbb33;
    text-decoration: underline;
}

.nav-item {
    margin-left: 20px;
}

.navbar-brand img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

main {
    padding: 2rem;
}

.navbar-custom {
    position: relative;
}

.gauche {
    flex: 1;
}

.droite {
    flex: 1;
}

@media (min-width: 992px) {
    .navbar-custom {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030;
    }
}


/*============== section1 ===============*/






.section1 {
    padding: 0 40px;
    /* background-color: whitesmoke; */
}

.boxparents1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.cardbox {
    background-color: #fdf9f9; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    flex: 1;
    transition: transform 0.3s;
}

.cardbox:hover {
    transform: translateY(-5px);
}

.cardbox i {
    margin-bottom: 15px;
}



/* (tablettes) */
@media (max-width: 1200px) {
    .boxparents1 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* (smartphones) */
@media (max-width: 768px) {
    .boxparents1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*  (téléphones) */
@media (max-width: 480px) {
    .boxparents1 {
        grid-template-columns: 1fr;
    }
}



/*============= section33333 ============*/

.section3 {
    /* Pas de background, utilisation de whitesmoke général */
    padding: 40px 0;
    margin: 5rem 0 0 0;
}

.card__container {
    margin-top: 5rem;
}

.testimonial-card {
    background-color: #f4f4f4; /* Blanc cassé pour un effet doux */
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Légère bordure pour un effet élégant */
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* Effet d'ombre légère au survol */
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.card-content {
    position: relative;
    padding-left: 30px;
}

.quote-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: #ffbb33;
    transform: translateY(-50%);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transition: 0.5s;
    color: #ffbb33;
    transform: scale(1.06); 
}

.swiper-button-prev,
.swiper-button-next {
    transition: 0.5s;
    color: #ffbb33; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 50%; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    align-items: center;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .card__data {
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .card__content {
        margin-inline: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}


/*============== section4444================ */



.custom-input:focus {
    border-color: #ffbb33; 
    box-shadow: 0 0 8px rgba(255, 187, 51, 0.5); 
    outline: none; 
}

.custom-input:hover {
    border-color: #9f7126; 
}


/*===== liens et scoolbar===== */

#service {
    scroll-margin-top: 100px; 
    padding-top: 50px; 
}
#temoins {
    scroll-margin-top: 100px; 
 
}
#contact {
    scroll-margin-top: 100px; 
    padding-top: 100px; 
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #ffbb33;
    border-radius: 6px;
}
.sticky{
    transition: 0.5s;
    background:#959494;
}




/* footer */

footer {
    background-color: #959494; 
    color: #ffffff; 
    width: 100%;
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif; 
}

footer .boxfoot {
    background: #959494;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap; 
    gap: 2rem; 
}

footer .boxfoot .part1,
.pp2,
.pp3 {
    display: flex;
    align-items: center;
    flex: 1;
}

footer .boxfoot .part1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer .boxfoot .part1 p {
    text-align: justify;
    font-size: 1.1rem;
    padding: 1rem 0;
    line-height: 1.6; 
}

footer .boxfoot .part1 .share {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

footer .boxfoot .part1 .share a {
    text-decoration: none;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    background-color: #ffbb33; 
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

footer .boxfoot .part1 .share a:hover {
    transform: scale(1.1);
    background-color: #ffbb33; 
}

footer .boxfoot .pp2 {
    text-align: center;
}

footer .boxfoot .part2 img {
    width: 70%; 
    transition: 0.3s;
}

footer .boxfoot .part2 img:hover {
    transform: scale(1.1);
}

footer .boxfoot .part3 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer .boxfoot .part3 a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff; 
    transition: 0.3s;
}

footer .boxfoot .part3 a:hover {
    padding-left: 20px;
    color: #ffbb33; 
}

footer .credit {
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
    /* border-top: 1px solid #ffbb33;  */
    color: #bbbbbb;
}



